{% extends "base.html" %}
{% block content %}
<form class="center" action="/addmovie" method="post">

    <label for="title">Title:</label>
    <br>
    <input name="title" type="text">
    <br>
    <p><label for="release_year">Release Year(YYYY format):</label>
    <br>
    <input name="release_year" type="text">
    <br>
    <p><label for="director">Director:</label>
    <br>
    <input name="director" type="text">
    <br>
    <p><label for="origin_ethnicity">Origin/Ethnicity:</label>
    <br>
    <input name="origin_ethnicity" type="text">
    <br>
    <p><label for="cast">Notable Cast:</label>
    <br>
    <input name="cast" type="text">
    <br>
    <p><label for="genre">Genre:</label>
    <br>
    <input name="genre" type="text">
    <br>
    <p><label for="wiki">Wiki URL:</label>
    <br>
    <input name="wiki" type="text">
    <br>
    <p><label for="plot">Plot Description:</label>
    <br>
    <textarea rows="4" cols="50" name="plot"></textarea></p>

    <input id="submit_button" type="submit" value="Add!">
</form>
{% endblock %}