{% extends "base.html" %}
{% block content %}
<h2>All Movies in Database</h2>
<br>
<h3><p class="center"><a href="/search">Search Movies</a></p></h3>
<br>
<ul>
    {% for movie in movies %}
        <li>
            <form action="/edit" method="post">
            <h3><p class="center"><a href='movie?id={{movie.id}}'>{{movie.title}}</a></p></h3>
            <p class="center">{{movie.release_year}}</p>
            <p class="center">{{movie.director}}</p>
            <p class="center">{{movie.origin_ethnicity}}</p>
            <p class="center">{{movie.cast}}</p>
            <p class="center">{{movie.genre}}</p>
            <p class="center">{{movie.plot}}</p>
            <p class="center">{{movie.wiki}}</p>
            <p><button name="edit" type="submit" value='{{movie.id}}'>Edit</button></p>
            </form>
        </li>
    {% endfor %}
</ul>
{% endblock %}

