{% extends "base.html" %}
{% block content %}
<h1><p class="center">Search</h1></p><br><br>
<p class="center">Select Category:</p>
<form class="center" action="/search" method="post">
    <input type="radio" name="column" value="all"> All
    <input type="radio" name="column" value="title">Title
    <input type="radio" name="column" value="release_year">Release Year
    <input type="radio" name="column" value="director">Director
    <input type="radio" name="column" value="origin_ethnicity">Origin/Ethnicity
    <input type="radio" name="column" value="cast">Cast
    <input type="radio" name="column" value="genre">Genre
    <input type="radio" name="column" value="plot">Plot
    <br><br><br>
    <label for="searchterm">Enter Search term:</label><br>
    <input name="searchterm" type="text">
    <br>
    <input id="submit_button" type="submit" value="Search">

</form>
{% endblock %}